# Feature 선택

## 선정 기준
1. EDA 결과 상관계수가 높고 시각화에서 유의미한 결과가 나온 feature로 1차 선택</br>
2. 일반적으로 예상할 수 있는 결과를 나타낸 feature 위주로 선택</br>
    ex) 나이가 적은 고객들이 이탈율이 높다고 생각함 => Age 변수는 나이가 많아질수록 이탈율 높아짐.(선택X)</br>
    Under 30 변수는 30세 이하 고객의 이탈율이 높았음.(선택O)</br> 
3. 같은 성격을 가진 feature 중에서 시각화 결과가 더 뚜렷한 feature 선택</br>
4. 한국 통신사 시장과 맞지 않는 feature 제외</br>
    ex) Contract-알뜰폰은 약정없이 월 청구, 통신3사는 무조건 1년 or 2년 약정)</br>
5. 그 외 중요하다고 생각하는 feature 선정

## 선정 결과&선정 기준
* Dependents (3)
* under 30 (2)
* Monthly Charge (2)
* Total Revenue (2)

* Tenure in Months (5)
* Internet Service (5) : 예상과 다른 결과지만 중요하다고 생각하여 선정
* Device Protection Plan (2)
* Unlimited Data (2)
* Streaming Movies (5)

## 파생변수

* 가입기간(일)
* 가입일자(가입기간으로 계산)</br>

=> 파생변수 생성 과정은 01. 이탈 날짜 예측 참고

# 데이터 로드

In [1]:
%config Completer.use_jedi = False
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

%matplotlib inline

In [32]:
# 앞서 생성한 Contract Date, Contract Period변수가 있는 데이터  불러오기

df = pd.read_csv("new_total.csv")
print(df.shape)
df.head()

(7043, 14)

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Contract Date,Contract Period,Churn Label,Churn Score
0,8779-QRDMV,0,0,39.65,59.65,1,1,1,0,1,2023-08-14,47,1,91
1,7495-OOKFY,1,0,80.65,1024.10,8,1,0,1,0,2023-02-08,234,1,69
2,1658-BYGOY,1,0,95.45,1910.88,18,1,0,1,1,2022-04-27,521,1,81
3,4598-XLKNJ,1,0,98.50,2995.07,25,1,1,1,1,2021-09-05,755,1,88
4,4846-WHAFZ,1,0,76.50,3102.36,37,1,0,1,0,2020-09-28,1097,1,67

# 이 고객은 언제 이탈할까?
이탈한 고객의 데이터만 가지고 학습하여 이탈하지 않은 고객 데이터를 가지고 예측</br>

* label = Contract Period

Forecast Period를 예측하기 위해 이탈한 고객의 계약기간으로 학습하여 아직 이탈하지 않은 고객의 이탈 예측 날짜(가입일자+예측한 계약기간)를 예측하려고 함.

In [3]:
# 이탈한 고객의 계약기간으로 학습

train_df = df.loc[df['Churn Label'] == 1]
train_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Contract Date,Contract Period,Churn Label,Churn Score
0,8779-QRDMV,0,0,39.65,59.65,1,1,1,0,1,2023-08-14,47,1,91
1,7495-OOKFY,1,0,80.65,1024.10,8,1,0,1,0,2023-02-08,234,1,69
2,1658-BYGOY,1,0,95.45,1910.88,18,1,0,1,1,2022-04-27,521,1,81
3,4598-XLKNJ,1,0,98.50,2995.07,25,1,1,1,1,2021-09-05,755,1,88
4,4846-WHAFZ,1,0,76.50,3102.36,37,1,0,1,0,2020-09-28,1097,1,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,5482-NUPNA,0,1,60.40,344.27,4,1,0,1,0,2023-06-24,98,1,90
2531,1122-JWTJW,1,0,70.65,108.33,1,1,0,1,0,2023-08-08,53,1,82
2532,1699-HPSBG,0,0,59.80,843.00,12,1,0,1,0,2022-10-04,361,1,69
2533,8775-CEBBJ,0,0,44.20,780.63,9,1,0,1,0,2023-01-01,272,1,87
2534,0639-TSIQW,0,1,102.95,9398.75,67,1,1,1,0,2018-03-28,2012,1,70

In [4]:
# 필요한 컬럼만 가져오기
# 문자형 데이터 Customer ID 제외, label의 종속변수가 될 수 있는 Tenure in Months 제외

# col1=train_df.columns[1:5].to_list()
# col2=train_df.columns[6:10].to_list()
# col3=train_df.columns[11:12].to_list()

# new_col=col1+col2+col3

new_col = ['Dependents', 'Under 30', 'Monthly Charge','Total Revenue', 'Internet Service', 'Device Protection Plan','Unlimited Data', 'Contract Period' ]
new_train_df = train_df[new_col]
new_train_df

,Dependents,Under 30,Monthly Charge,Total Revenue,Internet Service,Device Protection Plan,Unlimited Data,Contract Period
0,0,0,39.65,59.65,1,1,0,47
1,1,0,80.65,1024.10,1,0,1,234
2,1,0,95.45,1910.88,1,0,1,521
3,1,0,98.50,2995.07,1,1,1,755
4,1,0,76.50,3102.36,1,0,1,1097
...,...,...,...,...,...,...,...,...
2530,0,1,60.40,344.27,1,0,1,98
2531,1,0,70.65,108.33,1,0,1,53
2532,0,0,59.80,843.00,1,0,1,361
2533,0,0,44.20,780.63,1,0,1,272
2534,0,1,102.95,9398.75,1,1,1,2012

* 정규화

In [5]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

scaled_df = new_train_df.copy()

scaled_cols = ['Monthly Charge', 'Total Revenue']

# MinMaxScaler를 사용한 정규화
scaler = MinMaxScaler()
scaled_df[scaled_cols] = scaler.fit_transform(scaled_df[scaled_cols])
scaled_df

,Dependents,Under 30,Monthly Charge,Total Revenue,Internet Service,Device Protection Plan,Unlimited Data,Contract Period
0,0,0,0.209045,0.003404,1,1,0,47
1,1,0,0.621106,0.089718,1,0,1,234
2,1,0,0.769849,0.169080,1,0,1,521
3,1,0,0.800503,0.266109,1,1,1,755
4,1,0,0.579397,0.275711,1,0,1,1097
...,...,...,...,...,...,...,...,...
2530,0,1,0.417588,0.028876,1,0,1,98
2531,1,0,0.520603,0.007761,1,0,1,53
2532,0,0,0.411558,0.073510,1,0,1,361
2533,0,0,0.254774,0.067928,1,0,1,272
2534,0,1,0.845226,0.839206,1,1,1,2012

## 학습/테스트셋 분리

In [6]:
from sklearn.model_selection import train_test_split

y_target = scaled_df['Contract Period']
X_data = scaled_df.drop(['Contract Period'],axis=1,inplace=False)

X_train , X_test , y_train , y_test = train_test_split(X_data , y_target ,test_size=0.3, random_state=156)

## 알고리즘 선택

### 선형회귀(LinearRegression)

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Linear Regression OLS로 학습/예측/평가 수행. 
lr = LinearRegression()
lr.fit(X_train ,y_train )
y_preds = lr.predict(X_test)
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)

print('MSE : {0:.3f} , RMSE : {1:.3F}'.format(mse , rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_test, y_preds)))

MSE : 31413.338 , RMSE : 177.238
Variance score : 0.908

In [8]:
print('절편 값:',lr.intercept_) # 독립 변수(X)가 모두 0일 때 종속 변수(y)의 예측값
print('회귀 계수값:', np.round(lr.coef_, 1)) # 종속 변수(y)에 대한 기여도

절편 값: 186.13817193644343
회귀 계수값: [ -12.2   -3.8 -462.9 2787.5  130.1   28.9   -5. ]

coef_ 속성은 회귀 계수 값만 가지고 있으므로 이를 피처별 회귀 계수 값으로 다시 매핑

In [9]:
# 회귀 계수를 큰 값 순으로 정렬하기 위해 Series로 생성. index가 칼럼명에 유의
coeff = pd.Series(data=np.round(lr.coef_, 1), index=X_data.columns )
coeff.sort_values(ascending=False) # 변수들의 중요도순으로

Total Revenue             2787.5
Internet Service           130.1
Device Protection Plan      28.9
Under 30                    -3.8
Unlimited Data              -5.0
Dependents                 -12.2
Monthly Charge            -462.9
dtype: float64

* 교차검증

In [10]:
from sklearn.model_selection import cross_val_score

y_target = scaled_df['Contract Period']
X_data = scaled_df.drop(['Contract Period'],axis=1,inplace=False)
lr = LinearRegression()

# cross_val_score( )로 5 Fold 셋으로 MSE 를 구한 뒤 이를 기반으로 다시  RMSE 구함. 
neg_mse_scores = cross_val_score(lr, X_data, y_target, scoring="neg_mean_squared_error", cv = 5)
rmse_scores  = np.sqrt(-1 * neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

# cross_val_score(scoring="neg_mean_squared_error")로 반환된 값은 모두 음수 
print(' 5 folds 의 개별 Negative MSE scores: ', np.round(neg_mse_scores, 2))
print(' 5 folds 의 개별 RMSE scores : ', np.round(rmse_scores, 2))
print(' 5 folds 의 평균 RMSE : {0:.3f} '.format(avg_rmse))

 5 folds 의 개별 Negative MSE scores:  [-28946.68 -29273.66 -24261.81 -32269.36 -37869.86]
 5 folds 의 개별 RMSE scores :  [170.14 171.1  155.76 179.64 194.6 ]
 5 folds 의 평균 RMSE : 174.247

### 릿지 회귀(Ridge)

In [13]:
from sklearn.linear_model import Lasso, ElasticNet, Ridge

# alpha값에 따른 회귀 모델의 폴드 평균 RMSE를 출력하고 회귀 계수값들을 DataFrame으로 반환 
def get_linear_reg_eval(model_name, params=None, X_data_n=None, y_target_n=None, 
                        verbose=True, return_coeff=True):
    coeff_df = pd.DataFrame()
    if verbose : print('####### ', model_name , '#######')
    for param in params:
        if model_name =='Ridge': model = Ridge(alpha=param)
        elif model_name =='Lasso': model = Lasso(alpha=param)
        elif model_name =='ElasticNet': model = ElasticNet(alpha=param, l1_ratio=0.7)
        neg_mse_scores = cross_val_score(model, X_data_n, 
                                             y_target_n, scoring="neg_mean_squared_error", cv = 5)
        avg_rmse = np.mean(np.sqrt(-1 * neg_mse_scores))
        print('alpha {0}일 때 5 폴드 세트의 평균 RMSE: {1:.3f} '.format(param, avg_rmse))
        # cross_val_score는 evaluation metric만 반환하므로 모델을 다시 학습하여 회귀 계수 추출
        
        model.fit(X_data_n , y_target_n)
        if return_coeff:
            # alpha에 따른 피처별 회귀 계수를 Series로 변환하고 이를 DataFrame의 컬럼으로 추가. 
            coeff = pd.Series(data=model.coef_ , index=X_data_n.columns )
            colname='alpha:'+str(param)
            coeff_df[colname] = coeff
    
    return coeff_df
# end of get_linear_regre_eval

In [14]:
# 릿지에 사용될 alpha 파라미터의 값들을 정의하고 get_linear_reg_eval() 함수 호출
ridge_alphas = [0 , 0.1 , 1 , 10 , 100]
coeff_ridge_df =get_linear_reg_eval('Ridge', params=ridge_alphas, X_data_n=X_data, y_target_n=y_target)

#######  Ridge #######
alpha 0일 때 5 폴드 세트의 평균 RMSE: 174.247
alpha 0.1일 때 5 폴드 세트의 평균 RMSE: 174.242
alpha 1일 때 5 폴드 세트의 평균 RMSE: 174.536
alpha 10일 때 5 폴드 세트의 평균 RMSE: 195.663
alpha 100일 때 5 폴드 세트의 평균 RMSE: 370.967

### 라쏘 회귀(Lasso)

In [15]:
# 라쏘에 사용될 alpha 파라미터의 값들을 정의하고 get_linear_reg_eval() 함수 호출
lasso_alphas = [ 0.07, 0.1, 0.5, 1, 3]
coeff_lasso_df =get_linear_reg_eval('Lasso', params=lasso_alphas, X_data_n=X_data, y_target_n=y_target)

#######  Lasso #######
alpha 0.07일 때 5 폴드 세트의 평균 RMSE: 174.234
alpha 0.1일 때 5 폴드 세트의 평균 RMSE: 174.229
alpha 0.5일 때 5 폴드 세트의 평균 RMSE: 174.235
alpha 1일 때 5 폴드 세트의 평균 RMSE: 174.461
alpha 3일 때 5 폴드 세트의 평균 RMSE: 177.469

In [16]:
# 반환된 coeff_lasso_df를 첫번째 컬럼순으로 내림차순 정렬하여 회귀계수 DataFrame출력
sort_column = 'alpha:'+str(lasso_alphas[0])
coeff_lasso_df.sort_values(by=sort_column, ascending=False)

,alpha:0.07,alpha:0.1,alpha:0.5,alpha:1,alpha:3
Total Revenue,2772.219072,2770.785427,2751.676422,2727.573500,2630.723659
Internet Service,137.902889,136.124531,112.390376,83.880323,0.000000
Device Protection Plan,23.777723,23.614574,21.443472,18.799052,8.375254
Under 30,-2.687315,-2.447869,-0.000000,-0.000000,-0.000000
Unlimited Data,-11.585324,-11.159513,-5.482849,-0.000000,0.000000
Dependents,-17.470806,-16.824419,-8.200722,-0.000000,-0.000000
Monthly Charge,-435.125669,-433.012393,-404.813194,-369.883685,-240.435187

### 엘라스틱넷 회귀

In [17]:
# 엘라스틱넷에 사용될 alpha 파라미터의 값들을 정의하고 get_linear_reg_eval() 함수 호출
# l1_ratio는 0.7로 고정
elastic_alphas = [ 0.07, 0.1, 0.5, 1, 3]
coeff_elastic_df =get_linear_reg_eval('ElasticNet', params=elastic_alphas,
                                      X_data_n=X_data, y_target_n=y_target)

#######  ElasticNet #######
alpha 0.07일 때 5 폴드 세트의 평균 RMSE: 261.230
alpha 0.1일 때 5 폴드 세트의 평균 RMSE: 292.700
alpha 0.5일 때 5 폴드 세트의 평균 RMSE: 444.821
alpha 1일 때 5 폴드 세트의 평균 RMSE: 495.405
alpha 3일 때 5 폴드 세트의 평균 RMSE: 548.876

In [18]:
# 반환된 coeff_elastic_df를 첫번째 컬럼순으로 내림차순 정렬하여 회귀계수 DataFrame출력
sort_column = 'alpha:'+str(elastic_alphas[0])
coeff_elastic_df.sort_values(by=sort_column, ascending=False)

,alpha:0.07,alpha:0.1,alpha:0.5,alpha:1,alpha:3
Total Revenue,1677.667152,1452.268867,554.949602,321.849616,121.475172
Device Protection Plan,122.330082,143.655826,181.955318,147.902745,75.649085
Monthly Charge,68.428392,123.694953,160.474057,114.446651,50.947510
Internet Service,-0.000000,-1.276677,20.821873,21.150512,11.680876
Under 30,-0.117015,-0.015075,-0.397046,-0.000000,-0.000000
Dependents,-31.650285,-34.587109,-30.771838,-21.260048,-8.373638
Unlimited Data,-32.516531,-34.592132,-13.645129,-1.765564,0.712452

### 알고리즘 선택

선택 기준 : RMSE

* 선형회귀(LinearRegression) : 174.247 (cv=5)

* **릿지 회귀(Ridge) : 174.242 (alpha = 0.1, cv=5)**

* 라쏘 회귀(Lasso) : 174.234 (alpha = 0.07, cv=5)

* 엘라스틱넷 회귀(ElasticNet) : 261.230 (alpha = 0.07, cv=5)

# 알고리즘 적용하기

## 이탈하지 않은 고객(Churn Label=0)에게 적용

In [33]:
test_df = df.loc[df['Churn Label'] == 0]
test_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Contract Date,Contract Period,Churn Label,Churn Score
476,3841-NFECX,0,0,96.35,10105.37,71,1,1,1,0,2017-11-03,2157,0,38
477,4929-XIHVW,0,0,95.50,257.85,2,1,1,0,1,2023-08-06,55,0,69
478,3413-BMNZE,0,0,45.25,57.14,1,1,0,1,0,2023-08-18,43,0,40
479,8012-SOUDQ,0,0,90.25,4379.69,43,1,0,1,0,2020-03-23,1286,0,52
480,6575-SUVOI,0,0,69.50,2517.65,25,1,0,1,0,2021-09-12,748,0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,21.15,3039.53,72,0,0,0,0,2017-10-11,2180,0,45
7039,6840-RESVB,1,0,84.80,2807.47,24,1,1,1,1,2021-10-10,720,0,59
7040,2234-XADUH,1,0,103.20,9453.04,72,1,1,1,1,2017-10-14,2177,0,71
7041,4801-JZAZL,1,0,29.60,319.21,11,1,0,1,0,2022-11-28,306,0,59
7042,3186-AJIEK,0,0,105.65,8887.86,66,1,1,1,1,2018-04-22,1987,0,38

In [27]:
# 알고리즘 적용할 컬럼 선택 (Customer ID와 label 컬럼 제외)
test_col = ['Dependents', 'Under 30', 'Monthly Charge','Total Revenue', 'Internet Service', 
            'Device Protection Plan','Unlimited Data']

new_test_df = test_df[test_col]
new_test_df

,Dependents,Under 30,Monthly Charge,Total Revenue,Internet Service,Device Protection Plan,Unlimited Data
476,0,0,96.35,10105.37,1,1,1
477,0,0,95.50,257.85,1,1,0
478,0,0,45.25,57.14,1,0,1
479,0,0,90.25,4379.69,1,0,1
480,0,0,69.50,2517.65,1,0,1
...,...,...,...,...,...,...,...
7038,0,0,21.15,3039.53,0,0,0
7039,1,0,84.80,2807.47,1,1,1
7040,1,0,103.20,9453.04,1,1,1
7041,1,0,29.60,319.21,1,0,1
7042,0,0,105.65,8887.86,1,1,1

* 정규화

In [28]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

scaled_df_test = new_test_df.copy()

scaled_cols = ['Monthly Charge', 'Total Revenue']

# MinMaxScaler를 사용한 정규화
scaler = MinMaxScaler()
scaled_df_test[scaled_cols] = scaler.fit_transform(scaled_df_test[scaled_cols])
scaled_df_test

,Dependents,Under 30,Monthly Charge,Total Revenue,Internet Service,Device Protection Plan,Unlimited Data
476,0,0,0.777114,0.843287,1,1,1
477,0,0,0.768657,0.019777,1,1,0
478,0,0,0.268657,0.002992,1,0,1
479,0,0,0.716418,0.364470,1,0,1
480,0,0,0.509950,0.208755,1,0,1
...,...,...,...,...,...,...,...
7038,0,0,0.028856,0.252398,0,0,0
7039,1,0,0.662189,0.232992,1,1,1
7040,1,0,0.845274,0.788735,1,1,1
7041,1,0,0.112935,0.024908,1,0,1
7042,0,0,0.869652,0.741471,1,1,1

* 알고리즘 적용

In [34]:
from sklearn.linear_model import Ridge

# Ridge 회귀 모델 생성 및 학습 (이미 학습한 모델이라면 생략 가능)
ridge = Ridge(alpha=0.1)
ridge.fit(X_data, y_target)

# 새로운 데이터프레임 test_df를 이용하여 예측 수행
y_pred = ridge.predict(scaled_df_test)

# 예측 결과를 출력하거나 다른 작업에 활용
print(y_pred)

# 예측 결과를 "Contract Period"라는 컬럼으로 저장
test_df['Contract Period'] = y_pred.astype(int)

test_df

[2321.03547556   55.91239636  190.61804293 ... 2121.11122855  300.3377118
 1998.5412719 ]

C:\Users\ksh\AppData\Local\Temp\ipykernel_8080\862034215.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['Contract Period'] = y_pred.astype(int)

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Contract Date,Contract Period,Churn Label,Churn Score
476,3841-NFECX,0,0,96.35,10105.37,71,1,1,1,0,2017-11-03,2321,0,38
477,4929-XIHVW,0,0,95.50,257.85,2,1,1,0,1,2023-08-06,55,0,69
478,3413-BMNZE,0,0,45.25,57.14,1,1,0,1,0,2023-08-18,190,0,40
479,8012-SOUDQ,0,0,90.25,4379.69,43,1,0,1,0,2020-03-23,996,0,52
480,6575-SUVOI,0,0,69.50,2517.65,25,1,0,1,0,2021-09-12,655,0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,21.15,3039.53,72,0,0,0,0,2017-10-11,858,0,45
7039,6840-RESVB,1,0,84.80,2807.47,24,1,1,1,1,2021-10-10,661,0,59
7040,2234-XADUH,1,0,103.20,9453.04,72,1,1,1,1,2017-10-14,2121,0,71
7041,4801-JZAZL,1,0,29.60,319.21,11,1,0,1,0,2022-11-28,300,0,59
7042,3186-AJIEK,0,0,105.65,8887.86,66,1,1,1,1,2018-04-22,1998,0,38

* Customer ID 컬럼 붙이기

In [26]:
new_test_df.insert(0, 'Customer ID',test_df['Customer ID'])
new_test_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Internet Service,Device Protection Plan,Unlimited Data,Contract Period
476,3841-NFECX,0,0,96.35,10105.37,1,1,1,2321
477,4929-XIHVW,0,0,95.50,257.85,1,1,0,55
478,3413-BMNZE,0,0,45.25,57.14,1,0,1,190
479,8012-SOUDQ,0,0,90.25,4379.69,1,0,1,996
480,6575-SUVOI,0,0,69.50,2517.65,1,0,1,655
...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,21.15,3039.53,0,0,0,858
7039,6840-RESVB,1,0,84.80,2807.47,1,1,1,661
7040,2234-XADUH,1,0,103.20,9453.04,1,1,1,2121
7041,4801-JZAZL,1,0,29.60,319.21,1,0,1,300
7042,3186-AJIEK,0,0,105.65,8887.86,1,1,1,1998

## 가상의 고객에게 적용

In [35]:
test_customer = [[0,0,0.716418,0.264570,1,0,0]]

from sklearn.linear_model import Ridge

# Ridge 회귀 모델 생성 및 학습 (이미 학습한 모델이라면 생략 가능)
ridge = Ridge(alpha=0.1)
ridge.fit(X_data, y_target)

# 가상의 고객 데이터 이용하여 예측 수행
y_pred = ridge.predict(test_customer)
y_pred

C:\Users\ksh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but Ridge was fitted with feature names
  warnings.warn(

array([732.35100651])

예측 결과인 Contract Period를 파생변수 Contract Data에서 더하여 예상 해지 날짜를 구한다.