In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [2]:
# Data read
target_data = pd.read_csv("./result_data/merged_date_2.csv", header=0, index_col=0, encoding='utf-8')

In [3]:
# Data check
target_data.head()

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Location ID,...,Total Revenue,Status ID,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0,OXCZEW7397,...,59.65,SWSORB1252,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1,FCCECI8494,...,1024.10,SNAEQA8572,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3,HEHUQY7254,...,1910.88,LMBQNN3714,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1,WIUHRF2613,...,2995.07,VRZYZI9978,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1,CFEZBF4415,...,3102.36,FDNAKX1688,2,Churned,Yes,1,67,2793,Price,Extra data charges

In [4]:
# target_data[target_data.columns[0]].dtype == 'object'

In [5]:
# len(target_data['Location ID'].unique())

7043

In [6]:
# categorical data check + dict create
categorical_column_list = []
for i in range(len(target_data.columns)):
    if target_data[target_data.columns[i]].dtype == 'object':
        if len(target_data[target_data.columns[i]].unique()) <= 100 and len(target_data[target_data.columns[i]].unique()) != 1:
        # if len(target_data[target_data.columns[i]].unique()) != len(target_data):
            categorical_column_list.append(target_data.columns[i])

categorical_column_list

['Gender',
 'Under 30',
 'Senior Citizen',
 'Married',
 'Dependents',
 'Referred a Friend',
 'Offer',
 'Phone Service',
 'Multiple Lines',
 'Internet Service',
 'Internet Type',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Contract',
 'Paperless Billing',
 'Payment Method',
 'Customer Status',
 'Churn Label',
 'Churn Category',
 'Churn Reason']

In [7]:
categorical_values_list = set()
for col_name in categorical_column_list:
    values = tuple(target_data[col_name].unique())
    categorical_values_list.add(values)

list(categorical_values_list)

[('Male', 'Female'),
 ('Bank Withdrawal', 'Credit Card', 'Mailed Check'),
 ('Churned', 'Stayed', 'Joined'),
 ('Yes', 'No'),
 ('None', 'Offer E', 'Offer D', 'Offer C', 'Offer B', 'Offer A'),
 ('DSL', 'Fiber Optic', 'Cable', 'None'),
 ('Competitor', 'Dissatisfaction', 'Price', 'Other', 'Attitude', nan),
 ('No', 'Yes'),
 ('Competitor offered more data',
  'Competitor made better offer',
  'Limited range of services',
  'Extra data charges',
  'Competitor had better devices',
  "Don't know",
  'Service dissatisfaction',
  'Lack of affordable download/upload speed',
  'Product dissatisfaction',
  'Long distance charges',
  'Poor expertise of online support',
  'Attitude of support person',
  'Network reliability',
  'Competitor offered higher download speeds',
  'Moved',
  'Price too high',
  'Attitude of service provider',
  'Poor expertise of phone support',
  'Deceased',
  nan,
  'Lack of self-service on Website'),
 ('Month-to-Month', 'One Year', 'Two Year')]

In [21]:
target_data['Gender'].dtype == 'object'

True

In [88]:
encoder = LabelEncoder()
idx = 0

for df_col_name in target_data.columns:
    if target_data[df_col_name].dtype == 'object':
        if len(target_data[df_col_name].unique()) == len(target_data) or len(target_data[df_col_name].unique()) == 1:
            continue
        for j in range(len(list(categorical_values_list))):
            if tuple(target_data[df_col_name].unique()) == list(categorical_values_list)[j]:
                encoder.fit(list(categorical_values_list)[j])
                encode_result = encoder.transform(target_data[df_col_name])
                
                if idx == 0:
                    column_name = [df_col_name+"_label"]
                    result_df = pd.DataFrame(encode_result, columns=column_name)
                    idx += 1
                else:
                    column_name = [df_col_name+"_label"]
                    adding_df = pd.DataFrame(encode_result, columns=column_name)
                    result_df = pd.concat([result_df, adding_df], axis=1)
                    idx += 1

result_df

,Gender_label,Under 30_label,Senior Citizen_label,Married_label,Dependents_label,Referred a Friend_label,Offer_label,Phone Service_label,Multiple Lines_label,Internet Service_label,...,Streaming Movies_label,Streaming Music_label,Unlimited Data_label,Contract_label,Paperless Billing_label,Payment Method_label,Customer Status_label,Churn Label_label,Churn Category_label,Churn Reason_label
0,1,0,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,1,1,5
1,0,0,1,1,1,1,5,1,1,1,...,0,0,1,0,1,1,0,1,1,3
2,1,0,1,0,1,0,4,1,1,1,...,1,1,1,0,1,0,0,1,1,3
3,0,0,1,1,1,1,3,1,0,1,...,1,0,1,0,1,0,0,1,2,11
4,0,0,1,1,1,1,3,1,1,1,...,0,0,1,0,1,0,0,1,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,0,0,0,0,1,0,0,...,0,0,0,2,1,0,2,0,5,20
7039,1,0,0,1,1,1,3,1,1,1,...,1,1,1,1,1,2,2,0,5,20
7040,0,0,0,1,1,1,0,1,1,1,...,1,1,1,1,1,1,2,0,5,20
7041,0,0,0,1,1,1,0,0,0,1,...,0,0,1,0,1,0,2,0,5,20
7042,1,0,0,0,0,0,0,1,0,1,...,1,1,1,2,1,0,2,0,5,20

In [91]:
final_data = pd.concat([target_data, result_df], axis=1)

In [63]:
final_data.to_csv("./result_data/labeling_data.csv", encoding='utf-8')

### Testing

In [8]:
tuple(target_data['Married'].unique()) == list(categorical_values_list)[4]

False

In [11]:
le = LabelEncoder()
le.fit(list(categorical_values_list)[3])

LabelEncoder()

In [12]:
test = le.transform(target_data['Married'])
test
# le.fit으로 하니까 no yes든 yes no든 상관없이 진행됨

array([0, 1, 0, ..., 1, 1, 0])

In [15]:
pd.DataFrame(test)

      0
0     0
1     1
2     0
3     1
4     1
...  ..
7038  0
7039  1
7040  1
7041  1
7042  0

[7043 rows x 1 columns]